:root{
  --rsbs-backdrop-bg: rgba(0, 0, 0, 0.6);
  --rsbs-bg: #EFE7DD;
  --rsbs-handle-bg: hsla(0, 0%, 0%, 0.14);
  --rsbs-max-w: auto;
  --rsbs-ml: env(safe-area-inset-left);
  --rsbs-mr: env(safe-area-inset-right);
  --rsbs-overlay-rounded: 16px;
}

a{
  text-decoration: none;
  color: unset;
}
body{
    letter-spacing: 0.025em;
}


.ReactModal__Content {
  transform: translateY(100vh);
  transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.ReactModal__Content--after-open{
  transform: translateY(0px);
}

.ReactModal__Content--before-close{
   transform: translateY(100vh);
}